body{
    background-color: #FFF8E9;
    font-family:'PT Mono', monospace;
    /* width: 90%;
    margin: auto; */
}
#upper_nav{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
#left{
    display: flex;
    gap: 30px;
}
#right span{
   font-size: 22px;
   margin: 15px;
}
#right span:hover{
    cursor: pointer;
}
#hr1{
    margin-top: -4px;
    height: 1px;
    background-color: black; 
}
#lower_nav h1{
    font-size: 32px;
    margin-top: 0px;
}
#lower_nav{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
#lower_nav div:nth-child(2){
    display: flex;
    width: 45%;
    justify-content: space-between;
    margin-top: -18px;
}
#lower_nav div:nth-child(2) h4:hover{
    cursor: pointer;
}
#lower_nav div:nth-child(3){
    margin-top: -20px;
}
#lower_nav div:nth-child(3) input{
    border: none;
    width: 200px;
    padding: 8px;
    background-color: #FFF8E9;
    font-family:'PT Mono', monospace;
}
#hr2{
    margin-top: -11px;
    height: 1px;
    background-color: black;   
}

/* popup css */
  /* body {
    overflow: hidden; /* Prevent scrolling while the popup is open */
  /* } */ 

  #blur-container {
    filter: blur(5px); /* Apply blur to the background */
  }

  #popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure the popup appears above other content */
  }

  #popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  /* pop up end */


  #slider_main{
    width: 90%;
    margin: auto;
    text-align: center;
  }
  #h1tag{
    font-size: 70px;
  }


 /*corosal starts here */
 .slider {
  width: 100%;
  height: 600px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 300%; /* Adjust the width based on the number of slides */
  animation: slide-animation 15s infinite ;
}

.slide {
  width: 33.33%; /* Adjust the width based on the number of slides */
  flex-shrink: 0;
  position: relative;
  display: block;
  justify-content: center;
}

.slide img {
  width: 100%;
  height: auto;
}

/* Radio button styles */
.slider-controls {
  text-align: center;
  margin-top: 10px;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: darkgray;
}

.slider-controls input[type="radio"] {
  display: none;
}

.slider-controls input[type="radio"]:checked + label {
  background-color: black;
}

/* Animation keyframes */
@keyframes slide-animation {
  0% { margin-left: 0; }
  25% { margin-left: -100%; }
  50% { margin-left: -200%; }
  75% { margin-left: 0; }
}

 .content{
    position: absolute;
    width: 70%;
    height: 40%;
    margin-top: -50%;
    margin-left: 5%;
    display: block;
    text-align: left;
    /* background-color:rgb(79, 77, 76)  ; */
    padding: 20px;
    opacity: 0.6;
    border-radius: 10px;

}

 .content div h1{
  color:#ffffff;
  width: auto;
    font-size:35px;
    font-weight:bolder;
    letter-spacing: 4px;
    /* line-height: 5px; */
    margin-bottom: 45px;
    z-index: 20;
}


   .shopnow{
    margin-bottom: -20%;
    border: none;
    color: #ffffff;
    background: #e60f0f;
    padding: 10px 35px;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    z-index: 20;
    
    /* text-decoration: none; */
}

.content div p{
  width: 90%;
  position: relative;
  color: white;
  font-weight: 700;
  z-index: 20;
}
/* ----------------media query----------------- */
@media (max-width: 768px) {
  .slider {
    height: 300px;
  }

  .slide .content div h1 {
    font-size: 3em;
    line-height: 60px;
    z-index: 20;
  }
}

@media (max-width: 480px) {
  .slider {
    height: 200px;
  }


  .slide .content div p {
    font-size: 0.9em;
    z-index: 20;
  }

  .slide .content div a {
    font-size: 0.9em;
    z-index: 20;
  }
}

/* corosal end here */


#container_1{
  width: 90%;
  margin: auto;
  padding-top: 30px;
}
#container_1 > div{
  width: 100%;
  /* height: 500px; */
  align-items: center;
  text-align: center;
  /* border: 1px solid red; */
}
#wine_bottles{
  display: flex;
  width: 100%;
}
#wine_bottles > div{
  border: 1px solid grey;
  height: 450px;
}
#wine_bottles > div h3{
  margin-top: -25px;
}
#wine_bottles img{
  width: 100%;
}

/* container 2 sets and gifts */
#container_2{
  width: 90%;
  margin: auto;
  padding-top: 50px;
}
#container_2 > div{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#container_2 > div img{
  width: 420px;
  height: 300px;
}
#container_2 > button{
  display: flex;
  justify-items: center;
  align-items: center;
  margin: auto;
  font-family:'PT Mono', monospace;
  font-weight: bold;
  background-color: #FFF8E9;
  gap: 10px;
  padding: 7px;
  margin-top: 20px;
  border: 1px solid black;
}
#container_2 > button:hover{
  cursor: pointer;
  font-size: 15px;
}

/* container_3 */
#container_3{
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  border: 1px solid black;
  margin-top: 70px;
}
#container_3 h2{
  margin-bottom: 50px;
}
#container_3 p{
  margin-bottom: 40px;
}
#container_3 button{
  padding: 9px;
  background-color: #FFF8E9;
  font-weight: bold;
  border: 1px solid black;
  font-family:'PT Mono', monospace;
}
#container_3 div:first-child{
  width:50% ;
  padding: 40px;
}
#container_3 div:nth-child(2){
  display: flex;
  height: 500px;
}
#container_4{
  width: 90%;
  margin: auto;
  margin-top: 80px;
}
#container_4 >div{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
  gap: 40px;
}
#container_4 >div > div img{
  width: 300px;
}
#container_4_2div div:first-child{
   width: 50%;
   /* border: 1px solid red; */
}
#container_4_2div div:first-child img{
  width: 100%;
}
#container_4_2div div:nth-child(2){
  display: flex;
  gap: 30px;
}







