@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
body{background: repeating-linear-gradient(90deg, #d5d1c7,#fff8e9 10px, #fff8e9 40px, #d5d1c7 72px);
    padding:20px;
    margin:20px;
}
#firstImg {
    width:70%;
    height:100%;
    border-radius: 10px;
    margin-left: 60px;
}
#secondImg {
    width: 70%;
    height: 100%;
    border-radius: 10px;
    margin-left: 95px;
    margin-bottom: 40px;;
}
#thirdImg{
    width:1250px;
    height:300px;
    background-position:center;
    overflow:hidden;
    margin-left: 50px;
}
.heading{
    font-family: 'PT Mono';
    font-size: xx-large;
}
.heading1{
    margin-top: 80px;
    font-family: 'PT Mono';
    font-weight: bold;
    margin-bottom: 20px;
    font-size: larger;
}
#content{
    font-family: 'Nunito';
    font-size: medium;
    font-weight: bold;
}
.display{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    flex:column;
}
