@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
body{
    margin:10px;
    padding:10px;
}
#heading{
    font-family: 'PT Mono';
    font-size: large;
    text-align:center;
    color:#BF0D12;
}
p, h2{
    font-family: 'Nunito'
}
h2{
    font-weight: bolder;
    color: #BF0D12;
}

